<h2>Video Games</h2>

<mat-list class="games">
  <mat-list-item *ngFor="let game of games"
    [class.selected]="game === selectedGame"
    (click)="onSelect(game)">
    <span class="badge">{{game.id}}</span> {{game.title}}
  </mat-list-item>
</mat-list>

<div id="game-detail" *ngIf="selectedGame">
  <ng-container>
    <mat-card class="game-card">
        <mat-card-header>
          <mat-card-title>{{selectedGame.title | uppercase}}</mat-card-title>
          <mat-card-subtitle>Id: {{selectedGame.id}}</mat-card-subtitle>
        </mat-card-header>
          <div>
              <mat-form-field>
                  <input matInput placeholder="title" [(ngModel)]="selectedGame.title">
              </mat-form-field>
          </div>
          <div>
            <img mat-card-image src="assets/images/games/{{selectedGame.id}}.png">
          </div>
          <div>
              <a href="{{selectedGame.play}}" target="_blank">
                Play the game!
              </a>
          </div>

      </mat-card>
      <div id="selectedGame-json">
          <pre>{{selectedGame | json}}</pre>
      </div>
  </ng-container>
</div>