#game-detail {
  width: 65%;
  margin-top: 2rem;
}

#game-detail img {
  height: 100px;
  object-fit: scale-down;
  margin-top: 1rem;

}

@media (max-width: 600px) {
  #game-detail {
    width: 90%;
  }
}

#left {
  width: 50%;
  float: left;
  margin-left: 6%;
}

#right {
  margin-left: 50%;
  text-align: center;
  padding-right: 17%;
}

.clear {
  clear: both;
}

form {
  display: grid;
  width: 80%;
}

.mat-form-field {
    width: 100%;
}

.cart {
  cursor: pointer;
}
