<ng-container>
  <mat-card class="game-card">
    <mat-card-header>
      <mat-card-title>Create a new Video Game</mat-card-title>
    </mat-card-header>
    <div>
      <mat-form-field>
        <input matInput placeholder="id" [(ngModel)]="game.id" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="title" [(ngModel)]="game.title" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="editor" [(ngModel)]="game.editor" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="year" [(ngModel)]="game.year" />
      </mat-form-field>
    </div>
    <div>
      <button (click)="add()">
          Add
      </button>
    </div>
  </mat-card>
</ng-container>

